version: "3.9"

services:
  app:
    container_name: finetech
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3200:3200"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped
